/* base */

/* header */

/* main */

/* footer */

/* base */

* {
  box-sizing: border-box;
}

body {
  max-width: 1310px;
  margin: 0 auto;
}

.none {
  display: none;
}

.white-color {
  color: #fff;
}

.red-color {
  color: #f72210;
}

.red-bg-color {
  background-color: #f72210;
}

.box-bg-color {
  background-color: rgb(244, 245, 246);
}

/* header */

.btn-color {
  background-color: #ffe400;
}

/* main */

.featured-article img {
  width: 100%;
  height: auto;
}

.d-img {
  height: 63px;
  width: 63px;
}

.d-alt-border-top {
  border-top: 4px solid #d9d9d9;
}

.d-alt-border-bottom {
  border-bottom: 4px solid #d9d9d9;
}

.opinion-form {
  max-width: 300px;
  margin: 0 auto 30px;
  border: 1px solid #e5e5e5;
  background-color: #f4f5f6;
  padding: 20px;
}
