/* base */

/* header */

/* main */

/* footer */

/* base */

* {
  box-sizing: border-box;
}

body {
  max-width: 1310px;
  margin: 0 auto;
}

.none {
  display: none;
}

.red-color {
  color: #f72210;
}

.red-bg-color {
  background-color: #f72210;
}

/* header */

.btn-color {
  background-color: #ffe400;
}

/* main */

.featured-article img {
  width: 100%;
  height: auto;
}
