@media all and (max-width: 768px) {
  .subscribe-btn {
    font-size: 0.8em;
    padding: 0.5em;
  }

  .main-sm {
    padding-top: 75px;
  }

  .footer-list {
    line-height: 1.7em;
    word-spacing: 0.5em;
    font-size: 0.9em;
  }

  .text-center-sm {
    text-align: center;
  }

  .sub-mob img {
    width: 165px;
  }

  .sub-img-1 {
    top: 5%;
    left: 7%;
  }

  .sub-img-2 {
    top: 9%;
    left: 35%;
  }

  .extra-space {
    padding-top: 150px;
    padding-bottom: 60px;
    top: 60px;
  }
}

@media all and (max-width: 991px) {
  .main-md {
    padding-top: 75px;
  }
}
