@media all and (min-width: 768px) {
  img.my-turn-img {
    height: 140px;
  }
}

@media all and (min-width: 992px) {
  .weather {
    width: 2em;
    height: 2em;
  }

  img.d-mag-h {
    height: 250px;
  }
}
